<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
				akka {
					actor {
						deployment {
							# this nested section will be accessed by akka.actor.deployment
							# used to configure our ChartingActor
							charting {
				 # causes ChartingActor to run on the UI thread for WinForms
								dispatcher = akka.actor.synchronized-dispatcher
							}
						}
					}
				}
		]]>
		</hocon>
	</akka>
	<connectionStrings>
		<add name="bear2bearDB" connectionString="Data Source=E:\Github Repositories\petulant-bear\src\db\db\Bear2Bear.db;Version=3"/>
	</connectionStrings>
	<appSettings>
		<add key="rootPath" value="E:\Github Repositories\petulant-bear\src\wwwroot\"/>
    <add key="IPAddress" value="127.0.0.1"/>
    <add key="Port" value="8084"/>
    <add key="urlSite" value="http://localhost:8084"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="2.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>
