<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="bear2bearDB" connectionString="Data Source=C:\projects\petulant-bear\src\db\db\Bear2Bear.db;Version=3" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="cannelleplus@gmail.com">
        <network host="smtp.gmail.com" port="25" userName="cannelleplus" password="Infomilf69" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>