<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.4" targetFramework="net451" />
  <package id="Akka.FSharp" version="1.0.4" targetFramework="net451" />
  <package id="FsCheck" version="2.1.0" targetFramework="net45" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net45" />
  <package id="FsPickler" version="1.2.21" targetFramework="net451" />
  <package id="Fuchu" version="0.6.0.0" targetFramework="net45" />
  <package id="Fuchu.FsCheck" version="0.6.0.0" targetFramework="net45" />
  <package id="Suave" version="0.32.0" targetFramework="net45" />
  <package id="Suave.Testing" version="0.32.0" targetFramework="net45" />
  <package id="Unquote" version="3.1.0" targetFramework="net45" />
</packages>